 	.cupon{
	 	border:dashed 1px #d8d8d8  !important; 
	 	border-radius: 5px  !important; 
	 	font-family: 'Montserrat', sans-serif !important;
	}
	.cupon-sello{ text-align: center !important;
		color:#d8d8d8; padding: 15px !important; 
	}
	.form-cupon{
		border:none !important; 
		border-bottom: 1px dashed #999 !important; 
		border-radius: 0 !important;
	}
	.cupon-firma{text-align: right !important;
	}
